@model PharmaCare.Models.ViewModels.ShoppingCartVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ShoppingCarts.Count() > 0)
{
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity Change</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var shoppingCart in Model.ShoppingCarts)
                                {
                                    <tr>
                                        <td class="product-thumbnail">
                                            <img src="@shoppingCart.Product.ImageUrl" alt="Image"  width="200px" height="100px"class="img-fluid">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">@shoppingCart.Product.Title</h2>
                                        </td>
                                        <td>$@shoppingCart.Price <span class="text-muted btn btn-outline-primary">x @shoppingCart.Count</span></td>
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                

                                                <div class="input-group-prepend">
                                                    <a class="btn btn-outline-primary " asp-action="Minus" asp-route-cartId ="@shoppingCart.Id" >&minus;</a>
                                                </div>
                                           

                                                <div class="input-group-append">
                                                    <a class="btn btn-outline-primary " asp-action="Plus" asp-route-cartId ="@shoppingCart.Id" >&plus;</a>
                                                </div>
                                            </div>

                                        </td>
                                        <td>@(shoppingCart.Price * shoppingCart.Count)</td>
                                        <td><a asp-action="Remove" asp-route-cartId ="@shoppingCart.Id" class="btn btn-primary height-auto btn-sm">X</a></td>
                                    </tr>
                                }
                                </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
               
                <div class="col-md-6 offset-md-4 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">$@Model.OrderHeader.OrderTotal</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg btn-block" onclick="window.location='checkout.html'">
                                        Proceed To
                                        Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Shopping Cart
                    </div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-info btn-sm" asp-area="Customer" asp-controller="Home" asp-action="Index">
                            Continue Shopping
                        </a>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="card-footer row">

                        There are no items in the shopping cart.Please click Continue Shopping for adding items to shopping cart.
                    </div>
                </div>
            </div>
        </div>
    </div>
}

